<nav class="navbar navbar-expand-lg navbar-light bg-light d-flex justify-content-between">
    <div id="divClock" class="clock"></div>
    <div class="dropdown-notifiaction d-flex justify-content-between">
        <div class="dropdown pr-3">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                정렬
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="/memos/">등록 순</a>
                <a class="dropdown-item" href="/memos/sort/due">마감 기한 순</a>
                <a class="dropdown-item" href="/memos/sort/priority">중요도 순</a>
            </div>
        </div>
        <ul class="navbar-nav">
        	<li class="nav-item">
                <div class="memo_menu">
                  <button type="button" class="btn btn-primary btn-create" data-toggle="modal" data-target="#newModal">작성하기</button>
                </div>
                <%= render "memos/index_modal_new" %>
        	</li>
        </ul>
    </div>
</nav>
<div class="container">
    <% @memos.each do |memo| %>
        <%
            if !memo.due.blank?
                dueDate = memo.due
                year = dueDate.year.to_s
                month = dueDate.month.to_s
                day = dueDate.day.to_s
                hour = dueDate.hour.to_s
                min = dueDate.min.to_s
                
                dueString = year+"년 "+month+"월 "+day+"일 "+ "/ "+hour+"시 "+min+"분 마감"
            else
                dueString = ""
            end
        %>
    	<div class="row mt-2">
    		<div class="col-sm-12">
    			<div class="card" id="todo_<%= memo.id %>">
    				<div class="card-header">
    				    <i class="fa fa-clock-o" aria-hidden="true"></i>
    				    <span id="due_<%= memo.id %>">
        				    <script>
        				        getLeftTime("<%= memo.id %>", "<%= memo.due %>");
        				    </script>
    				    </span>
    			    </div>
    				<div class="card-body">
    					<h5 class="card-title"><%= memo.title %></h5>
    					<p class="card-text">
    						<%= memo.content %>
    					</p>
    					<div>
    					    <% if memo.priority > 0 %>
        					    <% for i in 1..memo.priority  %>
            					    <i class="fa fa-star priority-star" aria-hidden="true"></i>
        					    <% end %>
    					    <% end %>
    					    <% for i in 1..(5-memo.priority)  %>
        					    <i class="fa fa-star-o priority-star" aria-hidden="true"></i>
    					    <% end %>
    					</div>
    					<div class="d-flex justify-content-between">
        					<div><%= dueString %></div>
        					<div class="done-update-delete d-flex justify-content-between">
        					    <div class="cb" onclick="completeToggleAjax($(this))">
        					        <input type="hidden" value="<%= memo.id %>">
        					        <% if memo.completed == false %>
                					    <input type="checkbox" id="check_<%= memo.id %>"/>
            					    <% else %>
			    					    <input type="checkbox" id="check_<%= memo.id %>" checked/>
            					    <% end %>
                                    <label for="check_<%= memo.id %>" class="check-box" data-toggle="tooltip" data-placement="top" title="완료"></label>
                                </div>
                                <button class="remove_buttonshape" data-toggle="modal" data-target="#editModal_<%=memo.id%>" onclick="editSetting('<%=memo.id%>','<%=memo.priority%>')">
                                    <i class="fa fa-pencil-square-o" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="수정"></i>
            					</button>
            					<%= link_to memo_path(memo), method: "delete", data: { confirm: '정말 삭제하시겠습니까?' } do %>
                                    <i class="fa fa-trash-o" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="삭제"></i> 
                                <% end %>
    					    </div>
    					</div>
    				</div>
    			</div>
    		</div>
    	</div>
    <%= render "memos/index_modal_edit", memo: memo %>
	<% end %>
</div>