<nav class="main-navbar navbar navbar-expand-lg navbar-color">
  <a class="navbar-brand" href="/"><%= image_tag("logo.png", class: "navbar-logo")%></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <%= image_tag("menu-button.png", class: "navbar-bell")%>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/memos">ToDo 리스트</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/memos/completed">완료 리스트</a>
      </li>
    </ul>
    <div class="my-2 my-lg-0" data-toggle="modal" data-target="#notifiactionModal">
      <button class="remove_buttonshape navbar-bell-button" data-toggle="tooltip" data-placement="bottom" title="알림">
        <% if !@notification.blank? %>
          <span class="notifications-counter"><%= @notifications.count %></span>
        <% end %>
        <%= image_tag("bell.png", class: "navbar-bell")%>
      </button>
    </div>
  </div>
</nav>

<!-- Modal -->
<div class="modal fade" id="notifiactionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">마감 시간 초과 알림</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <% if @notification.blank? %>
          마감 시간이 초과된 ToDo가 없습니다.
        <% else %>
          <% @notifications.each do |notification| %>
            <%
              if !notification.due.blank?
                  dueDate = notification.due
                  year = dueDate.year.to_s
                  month = dueDate.month.to_s
                  day = dueDate.day.to_s
                  hour = dueDate.hour.to_s
                  min = dueDate.min.to_s
                  
                  dueString = year+"년 "+month+"월 "+day+"일 "+ "/ "+hour+"시 "+min+"분 마감"
              else
                  dueString = ""
              end
            %>
          	<div class="row mt-2">
          		<div class="col-sm-12">
          			<div class="card border-danger" id="alert_<%= notification.id %>">
          				<div class="card-header">
          				    <i class="fa fa-clock-o" aria-hidden="true"></i>
          				    <span id="alert_<%= notification.id %>">
          				      마감 기한이 지났습니다.
          				    </span>
          			    </div>
          				<div class="card-body">
          					<h5 class="card-title"><%= notification.title %></h5>
          					<p class="card-text">
          						<%= notification.content %>
          					</p>
          					<div>
          					    <% if notification.priority > 0 %>
              					    <% for i in 1..notification.priority  %>
                  					    <i class="fa fa-star priority-star" aria-hidden="true"></i>
              					    <% end %>
          					    <% end %>
          					    <% for i in 1..(5-notification.priority)  %>
              					    <i class="fa fa-star-o priority-star" aria-hidden="true"></i>
          					    <% end %>
          					</div>
          					<div class="d-flex justify-content-between">
            					<div><%= dueString %></div>
            					<div class="done-update-delete d-flex justify-content-between">
                					<%= link_to memo_path(notification), method: "delete", data: { confirm: '정말 삭제하시겠습니까?' } do %>
                            <i class="fa fa-trash-o" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="삭제"></i> 
                          <% end %>
        					    </div>
          					</div>
          				</div>
          			</div>
          		</div>
          	</div>
        	<% end %>
    	  <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
      </div>
    </div>
  </div>
</div>